*{
    margin: 0;
}
.first{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('first_full.png');
    background-color: lightgray;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.first img{
    width: 35vw;
    height: 40vh;
    background-color: lightgray;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 35vw;
    height: 40vh;
    background-color: #FAF9F7;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.first h1 {
    color: #000;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 45px;

    font-family: "KoHo", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.first p{
    font-family: "KoHo", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    font-size: 25px;
}
.box button{
    width: 27vw;
    height: 7.7vh;
    font-size: 30px;
    line-height: normal;

    border-radius: 5px;
    border: 1px solid rgba(156, 152, 152, 0.10);
    background: rgba(217, 217, 217, 0.60);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    font-family: "KoHo", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.second{
    width: 100%;
    height: 100vh;
    background-image: url('second_fon.png');
    background-color: lightgray;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.second p{
    font-family: "KoHo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    align-items: flex-end;
    width: 63vw;
    margin: 0 5vh 5vw 5vh;
}
.second .video{
    width: 700px;
    height: 350px;
    margin: 5vw 5vh 5vw 5vh;
}
.third{
    height: 100vh;
    width: 100%;
    background-image: url('second_fon.png');
    background-color: lightgray;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.boxes_3{
    width: 30vw;
    height: 68vh;
    background-color: rgba(83, 83, 83, 0.40);

    font-family: "KoHo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;


    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.boxes_3 button{
    width: 27vw;
    height: 7.7vh;
    font-size: 30px;

    font-family: "KoHo", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-radius: 5px;
    border: 1px solid rgba(156, 152, 152, 0.10);
    background: rgba(217, 217, 217, 0.60);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    fill: rgba(217, 217, 217, 0.60);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.boxes_3 img{
    width: 27vw;
    height: 20.7vh;
}